{
    "openapi": "3.0.0",
    "info": {
        "title": "sevDesk Order API",
        "description": "\r\n# General information\r\nWelcome to our Order API!<br>\r\nYou can use it to manage orders in your sevDesk account.\r\n\r\n# Cross-Origin Resource Sharing\r\nThis API features Cross-Origin Resource Sharing (CORS).<br>\r\nIt enables cross-domain communication from the browser.<br>\r\nAll responses have a wildcard same-origin which makes them completely public and accessible to everyone, including any code on any site.\r\n\r\n# Embedding resources\r\nWhen retrieving resources by using this API, you might encounter nested resources in the resources you requested.<br>\r\nFor example, an invoice always contains a contact, of which you can see the ID and the object name.<br>\r\nThis API gives you the possibility to embed these resources completely into the resources you originally requested.<br>\r\nTaking our invoice example, this would mean, that you would not only see the ID and object name of a contact, but rather the complete contact resource.\r\n\r\nTo embed resources, all you need to do is to add the query parameter 'embed' to your GET request.<br>\r\nAs values, you can provide the name of the nested resource.<br>\r\nMultiple nested resources are also possible by providing multiple names, separated by a comma.\r\n",
        "contact": {
            "email": "support@sevdesk.de"
        },
        "version": "2.0.0",
        "x-logo": {
            "url": "https://my.sevdesk.de/img/logos/1_100.png",
            "backgroundColor": "#263241",
            "altText": "sevDesk Logo"
        }
    },
    "servers": [
        {
            "url": "https://my.sevdesk.de/api/v1",
            "description": "Our main application instance which most of our customers work with"
        },
        {
            "url": "https://my.pebesmart.ch/api/v1",
            "description": "Our swiss application instance, hosted and maintained by smart seven AG"
        },
        {
            "url": "http://sevdesk.local/api/v1",
            "description": "sevDesk internal local instance"
        }
    ],
    "paths": {
        "/Order": {
            "get": {
                "tags": [
                    "Order"
                ],
                "summary": "Retrieve orders",
                "description": "There are a multitude of parameter which can be used to filter. A few of them are attached but\r\n    for a complete list please check out <a href='https://5677.extern.sevdesk.dev/apiOverview/index.html#/doc-orders#filtering'>this</a> list",
                "operationId": "getOrders",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Status of the order",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                "100",
                                "200",
                                "300",
                                "500",
                                "750",
                                "1000"
                            ]
                        }
                    },
                    {
                        "name": "orderNumber",
                        "in": "query",
                        "description": "Retrieve all orders with this order number",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "startDate",
                        "in": "query",
                        "description": "Retrieve all orders with a date equal or higher",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "endDate",
                        "in": "query",
                        "description": "Retrieve all orders with a date equal or lower",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "contact[id]",
                        "in": "query",
                        "description": "Retrieve all orders with this contact. Must be provided with contact[objectName]",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "contact[objectName]",
                        "in": "query",
                        "description": "Only required if contact[id] was provided. 'Contact' should be used as value.",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "objects": {
                                            "type": "array",
                                            "items": {
                                                "title": "Order model",
                                                "description": "Order model",
                                                "required": [
                                                    "orderNumber",
                                                    "orderDate",
                                                    "contact",
                                                    "status",
                                                    "smallSettlement",
                                                    "contactPerson",
                                                    "taxRate",
                                                    "taxText",
                                                    "taxType",
                                                    "invoiceType",
                                                    "currency",
                                                    "header",
                                                    "version"
                                                ],
                                                "properties": {
                                                    "id": {
                                                        "description": "The order id",
                                                        "type": "integer",
                                                        "readOnly": true,
                                                        "nullable": false
                                                    },
                                                    "objectName": {
                                                        "description": "The order object name",
                                                        "type": "string",
                                                        "readOnly": true,
                                                        "nullable": false
                                                    },
                                                    "create": {
                                                        "description": "Date of order creation",
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "readOnly": true
                                                    },
                                                    "update": {
                                                        "description": "Date of last order update",
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "readOnly": true
                                                    },
                                                    "orderNumber": {
                                                        "description": "The order number",
                                                        "type": "string",
                                                        "example": "Offer-1000"
                                                    },
                                                    "contact": {
                                                        "description": "The contact used in the order",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the contact",
                                                                "type": "integer"
                                                            },
                                                            "objectName": {
                                                                "description": "Model name, which is 'Contact'",
                                                                "type": "string",
                                                                "default": "Contact"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "nullable": false
                                                    },
                                                    "orderDate": {
                                                        "description": "Needs to be provided as timestamp or dd.mm.yyyy",
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "01.01.2020",
                                                        "nullable": false
                                                    },
                                                    "status": {
                                                        "description": "Please have a look in our\r\n    <a href='https://5677.extern.sevdesk.dev/apiOverview/index.html#/doc-orders#types'>API-Overview</a>\r\n    to see what the different status codes mean",
                                                        "type": "integer",
                                                        "enum": [
                                                            100,
                                                            200,
                                                            300,
                                                            500,
                                                            750,
                                                            1000
                                                        ],
                                                        "example": 100,
                                                        "nullable": false
                                                    },
                                                    "header": {
                                                        "description": "Normally consist of prefix plus the order number",
                                                        "type": "string",
                                                        "example": "My Offer-1000",
                                                        "nullable": false
                                                    },
                                                    "headText": {
                                                        "description": "Certain html tags can be used here to format your text",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "footText": {
                                                        "description": "Certain html tags can be used here to format your text",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "addressName": {
                                                        "description": "Can be omitted as complete address is defined in address attribute",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "addressStreet": {
                                                        "description": "Can be omitted as complete address is defined in address attribute",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "addressZip": {
                                                        "description": "Can be omitted as complete address is defined in address attribute",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "addressCity": {
                                                        "description": "Can be omitted as complete address is defined in address attribute",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "addressCountry": {
                                                        "description": "Can be omitted as complete address is defined in address attribute",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the country",
                                                                "type": "integer",
                                                                "deprecated": true
                                                            },
                                                            "objectName": {
                                                                "description": "Model name, which is 'StaticCountry'",
                                                                "type": "string",
                                                                "deprecated": true
                                                            }
                                                        },
                                                        "type": "object",
                                                        "default": null,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "createUser": {
                                                        "description": "Will be filled automatically by our system and can't be changed",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the user",
                                                                "type": "integer"
                                                            },
                                                            "objectName": {
                                                                "description": "Model name, which is 'SevUser'",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "readOnly": true
                                                    },
                                                    "sevClient": {
                                                        "description": "Client to which order belongs. Will be filled automatically",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the client",
                                                                "type": "integer"
                                                            },
                                                            "objectName": {
                                                                "description": "Model name, which is 'SevClient'",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "readOnly": true
                                                    },
                                                    "deliveryTerms": {
                                                        "description": "Delivery terms of the order",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "paymentTerms": {
                                                        "description": "Payment terms of the order",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "origin": {
                                                        "description": "Object from which the order was created. For example an offer.",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the object",
                                                                "type": "integer"
                                                            },
                                                            "objectName": {
                                                                "description": "Model name of the object. Could be 'Order'.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "version": {
                                                        "description": "Version of the order.<br>\r\n    Can be used if you have multiple drafts for the same order.<br>\r\n    Should start with 0",
                                                        "type": "integer",
                                                        "example": 0,
                                                        "nullable": false
                                                    },
                                                    "smallSettlement": {
                                                        "description": "Defines if the client uses the small settlement scheme.\r\n    If yes, the order must not contain any vat",
                                                        "type": "boolean",
                                                        "example": 0,
                                                        "nullable": false
                                                    },
                                                    "contactPerson": {
                                                        "description": "The user who acts as a contact person for the order",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the user",
                                                                "type": "integer"
                                                            },
                                                            "objectName": {
                                                                "description": "Model name, which is 'SevUser'",
                                                                "type": "string",
                                                                "default": "SevUser"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "taxRate": {
                                                        "description": "Is overwritten by order position tax rates",
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": 19,
                                                        "nullable": false
                                                    },
                                                    "taxSet": {
                                                        "description": "Tax set of the order. Needs to be added if you chose the tax type custom",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the object",
                                                                "type": "integer"
                                                            },
                                                            "objectName": {
                                                                "description": "Model name, which is 'TaxSet'",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "taxText": {
                                                        "description": "A common tax text would be 'Umsatzsteuer 19%'",
                                                        "type": "string",
                                                        "example": "Umsatzsteuer 19%",
                                                        "nullable": false
                                                    },
                                                    "addressParentName": {
                                                        "description": "Address parent name.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "addressContactRef": {
                                                        "description": "Address contact reference.",
                                                        "type": "object",
                                                        "default": null,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "taxType": {
                                                        "description": "Tax type of the order.\nThere are four tax types:\n1. default - Umsatzsteuer ausweisen\n2. eu - Steuerfreie innergemeinschaftliche Lieferung (Europäische Union)\n3. noteu - Steuerschuldnerschaft des Leistungsempfängers (außerhalb EU, z. B. Schweiz)\n4. custom - Using custom tax set\nTax rates are heavily connected to the tax type used.",
                                                        "type": "string",
                                                        "example": "default",
                                                        "nullable": false
                                                    },
                                                    "orderType": {
                                                        "description": "Type of the order. For more information on the different types, check\r\n    <a href='https://5677.extern.sevdesk.dev/apiOverview/index.html#/doc-orders#types'>this</a> section of\r\n    our API-Overview",
                                                        "type": "string",
                                                        "enum": [
                                                            "AN",
                                                            "AB",
                                                            "LI"
                                                        ],
                                                        "example": "AN",
                                                        "nullable": false
                                                    },
                                                    "sendDate": {
                                                        "description": "The date the order was sent to the customer",
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "addressParentName2": {
                                                        "description": "Deprecated attribute",
                                                        "type": "string",
                                                        "readOnly": true,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "addressName2": {
                                                        "description": "Second name of the recipient",
                                                        "type": "string",
                                                        "readOnly": true,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "addressGender": {
                                                        "description": "Gender of the recipient",
                                                        "type": "string",
                                                        "readOnly": true,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "address": {
                                                        "description": "Complete address of the recipient including name, street, city, zip and country.<br>\r\n     Line breaks can be used and will be displayed on the invoice pdf.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "currency": {
                                                        "description": "Currency used in the order. Needs to be currency code according to ISO-4217",
                                                        "type": "string",
                                                        "example": "EUR",
                                                        "nullable": false
                                                    },
                                                    "sumNet": {
                                                        "description": "Net sum of the order",
                                                        "type": "number",
                                                        "format": "float",
                                                        "readOnly": true,
                                                        "nullable": false
                                                    },
                                                    "sumTax": {
                                                        "description": "Tax sum of the order",
                                                        "type": "number",
                                                        "format": "float",
                                                        "readOnly": true,
                                                        "nullable": false
                                                    },
                                                    "sumGross": {
                                                        "description": "Gross sum of the order",
                                                        "type": "number",
                                                        "format": "float",
                                                        "readOnly": true,
                                                        "nullable": false
                                                    },
                                                    "sumDiscounts": {
                                                        "description": "Sum of all discounts in the order",
                                                        "type": "number",
                                                        "format": "float",
                                                        "readOnly": true,
                                                        "nullable": false
                                                    },
                                                    "sumNetForeignCurrency": {
                                                        "description": "Net sum of the order in the foreign currency",
                                                        "type": "number",
                                                        "format": "float",
                                                        "readOnly": true,
                                                        "nullable": false
                                                    },
                                                    "sumTaxForeignCurrency": {
                                                        "description": "Tax sum of the order in the foreign currency",
                                                        "type": "number",
                                                        "format": "float",
                                                        "readOnly": true,
                                                        "nullable": false
                                                    },
                                                    "sumGrossForeignCurrency": {
                                                        "description": "Gross sum of the order in the foreign currency",
                                                        "type": "number",
                                                        "format": "float",
                                                        "readOnly": true,
                                                        "nullable": false
                                                    },
                                                    "sumDiscountsForeignCurrency": {
                                                        "description": "Discounts sum of the order in the foreign currency",
                                                        "type": "number",
                                                        "format": "float",
                                                        "readOnly": true,
                                                        "nullable": false
                                                    },
                                                    "weight": {
                                                        "description": "Deprecated attribute.",
                                                        "type": "number",
                                                        "format": "float",
                                                        "default": 0,
                                                        "nullable": false
                                                    },
                                                    "entryType": {
                                                        "description": "Deprecated attribute.",
                                                        "type": "object",
                                                        "default": null,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "customerInternalNote": {
                                                        "description": "Internal note of the customer. Contains data entered into field 'Referenz/Bestellnummer'",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "showNet": {
                                                        "description": "If true, the net amount of each position will be shown on the order. Otherwise gross amount",
                                                        "type": "boolean",
                                                        "default": 1,
                                                        "nullable": false
                                                    },
                                                    "sendType": {
                                                        "description": "Type which was used to send the order. IMPORTANT: Please refer to the order section of the\r\n     *     API-Overview to understand how this attribute can be used before using it!",
                                                        "type": "string",
                                                        "default": null,
                                                        "enum": [
                                                            "VPR",
                                                            "VPDF",
                                                            "VM",
                                                            "VP"
                                                        ],
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Authentication required"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Order"
                ],
                "summary": "Create a new order",
                "description": "Creates an order to which positions can be added later.",
                "operationId": "createOrder",
                "requestBody": {
                    "description": "Creation data. Please be aware, that you need to provide at least all required parameter\r\n    of the order model!",
                    "content": {
                        "json": {
                            "schema": {
                                "title": "Order model",
                                "description": "Order model",
                                "required": [
                                    "orderNumber",
                                    "orderDate",
                                    "contact",
                                    "status",
                                    "smallSettlement",
                                    "contactPerson",
                                    "taxRate",
                                    "taxText",
                                    "taxType",
                                    "invoiceType",
                                    "currency",
                                    "header",
                                    "version"
                                ],
                                "properties": {
                                    "id": {
                                        "description": "The order id",
                                        "type": "integer",
                                        "readOnly": true,
                                        "nullable": false
                                    },
                                    "objectName": {
                                        "description": "The order object name",
                                        "type": "string",
                                        "readOnly": true,
                                        "nullable": false
                                    },
                                    "create": {
                                        "description": "Date of order creation",
                                        "type": "string",
                                        "format": "date-time",
                                        "readOnly": true
                                    },
                                    "update": {
                                        "description": "Date of last order update",
                                        "type": "string",
                                        "format": "date-time",
                                        "readOnly": true
                                    },
                                    "orderNumber": {
                                        "description": "The order number",
                                        "type": "string",
                                        "example": "Offer-1000"
                                    },
                                    "contact": {
                                        "description": "The contact used in the order",
                                        "required": [
                                            "id",
                                            "objectName"
                                        ],
                                        "properties": {
                                            "id": {
                                                "description": "Unique identifier of the contact",
                                                "type": "integer"
                                            },
                                            "objectName": {
                                                "description": "Model name, which is 'Contact'",
                                                "type": "string",
                                                "default": "Contact"
                                            }
                                        },
                                        "type": "object",
                                        "nullable": false
                                    },
                                    "orderDate": {
                                        "description": "Needs to be provided as timestamp or dd.mm.yyyy",
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "01.01.2020",
                                        "nullable": false
                                    },
                                    "status": {
                                        "description": "Please have a look in our\r\n    <a href='https://5677.extern.sevdesk.dev/apiOverview/index.html#/doc-orders#types'>API-Overview</a>\r\n    to see what the different status codes mean",
                                        "type": "integer",
                                        "enum": [
                                            100,
                                            200,
                                            300,
                                            500,
                                            750,
                                            1000
                                        ],
                                        "example": 100,
                                        "nullable": false
                                    },
                                    "header": {
                                        "description": "Normally consist of prefix plus the order number",
                                        "type": "string",
                                        "example": "My Offer-1000",
                                        "nullable": false
                                    },
                                    "headText": {
                                        "description": "Certain html tags can be used here to format your text",
                                        "type": "string",
                                        "default": null,
                                        "nullable": true
                                    },
                                    "footText": {
                                        "description": "Certain html tags can be used here to format your text",
                                        "type": "string",
                                        "default": null,
                                        "nullable": true
                                    },
                                    "addressName": {
                                        "description": "Can be omitted as complete address is defined in address attribute",
                                        "type": "string",
                                        "default": null,
                                        "nullable": true,
                                        "deprecated": true
                                    },
                                    "addressStreet": {
                                        "description": "Can be omitted as complete address is defined in address attribute",
                                        "type": "string",
                                        "default": null,
                                        "nullable": true,
                                        "deprecated": true
                                    },
                                    "addressZip": {
                                        "description": "Can be omitted as complete address is defined in address attribute",
                                        "type": "string",
                                        "default": null,
                                        "nullable": true,
                                        "deprecated": true
                                    },
                                    "addressCity": {
                                        "description": "Can be omitted as complete address is defined in address attribute",
                                        "type": "string",
                                        "default": null,
                                        "nullable": true,
                                        "deprecated": true
                                    },
                                    "addressCountry": {
                                        "description": "Can be omitted as complete address is defined in address attribute",
                                        "required": [
                                            "id",
                                            "objectName"
                                        ],
                                        "properties": {
                                            "id": {
                                                "description": "Unique identifier of the country",
                                                "type": "integer",
                                                "deprecated": true
                                            },
                                            "objectName": {
                                                "description": "Model name, which is 'StaticCountry'",
                                                "type": "string",
                                                "deprecated": true
                                            }
                                        },
                                        "type": "object",
                                        "default": null,
                                        "nullable": true,
                                        "deprecated": true
                                    },
                                    "createUser": {
                                        "description": "Will be filled automatically by our system and can't be changed",
                                        "required": [
                                            "id",
                                            "objectName"
                                        ],
                                        "properties": {
                                            "id": {
                                                "description": "Unique identifier of the user",
                                                "type": "integer"
                                            },
                                            "objectName": {
                                                "description": "Model name, which is 'SevUser'",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object",
                                        "readOnly": true
                                    },
                                    "sevClient": {
                                        "description": "Client to which order belongs. Will be filled automatically",
                                        "required": [
                                            "id",
                                            "objectName"
                                        ],
                                        "properties": {
                                            "id": {
                                                "description": "Unique identifier of the client",
                                                "type": "integer"
                                            },
                                            "objectName": {
                                                "description": "Model name, which is 'SevClient'",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object",
                                        "readOnly": true
                                    },
                                    "deliveryTerms": {
                                        "description": "Delivery terms of the order",
                                        "type": "string",
                                        "default": null,
                                        "nullable": true
                                    },
                                    "paymentTerms": {
                                        "description": "Payment terms of the order",
                                        "type": "string",
                                        "default": null,
                                        "nullable": true
                                    },
                                    "origin": {
                                        "description": "Object from which the order was created. For example an offer.",
                                        "required": [
                                            "id",
                                            "objectName"
                                        ],
                                        "properties": {
                                            "id": {
                                                "description": "Unique identifier of the object",
                                                "type": "integer"
                                            },
                                            "objectName": {
                                                "description": "Model name of the object. Could be 'Order'.",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object",
                                        "default": null,
                                        "nullable": true
                                    },
                                    "version": {
                                        "description": "Version of the order.<br>\r\n    Can be used if you have multiple drafts for the same order.<br>\r\n    Should start with 0",
                                        "type": "integer",
                                        "example": 0,
                                        "nullable": false
                                    },
                                    "smallSettlement": {
                                        "description": "Defines if the client uses the small settlement scheme.\r\n    If yes, the order must not contain any vat",
                                        "type": "boolean",
                                        "example": 0,
                                        "nullable": false
                                    },
                                    "contactPerson": {
                                        "description": "The user who acts as a contact person for the order",
                                        "required": [
                                            "id",
                                            "objectName"
                                        ],
                                        "properties": {
                                            "id": {
                                                "description": "Unique identifier of the user",
                                                "type": "integer"
                                            },
                                            "objectName": {
                                                "description": "Model name, which is 'SevUser'",
                                                "type": "string",
                                                "default": "SevUser"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "taxRate": {
                                        "description": "Is overwritten by order position tax rates",
                                        "type": "number",
                                        "format": "float",
                                        "example": 19,
                                        "nullable": false
                                    },
                                    "taxSet": {
                                        "description": "Tax set of the order. Needs to be added if you chose the tax type custom",
                                        "required": [
                                            "id",
                                            "objectName"
                                        ],
                                        "properties": {
                                            "id": {
                                                "description": "Unique identifier of the object",
                                                "type": "integer"
                                            },
                                            "objectName": {
                                                "description": "Model name, which is 'TaxSet'",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object",
                                        "default": null,
                                        "nullable": true
                                    },
                                    "taxText": {
                                        "description": "A common tax text would be 'Umsatzsteuer 19%'",
                                        "type": "string",
                                        "example": "Umsatzsteuer 19%",
                                        "nullable": false
                                    },
                                    "addressParentName": {
                                        "description": "Address parent name.",
                                        "type": "string",
                                        "default": null,
                                        "nullable": true,
                                        "deprecated": true
                                    },
                                    "addressContactRef": {
                                        "description": "Address contact reference.",
                                        "type": "object",
                                        "default": null,
                                        "nullable": true,
                                        "deprecated": true
                                    },
                                    "taxType": {
                                        "description": "Tax type of the order.\nThere are four tax types:\n1. default - Umsatzsteuer ausweisen\n2. eu - Steuerfreie innergemeinschaftliche Lieferung (Europäische Union)\n3. noteu - Steuerschuldnerschaft des Leistungsempfängers (außerhalb EU, z. B. Schweiz)\n4. custom - Using custom tax set\nTax rates are heavily connected to the tax type used.",
                                        "type": "string",
                                        "example": "default",
                                        "nullable": false
                                    },
                                    "orderType": {
                                        "description": "Type of the order. For more information on the different types, check\r\n    <a href='https://5677.extern.sevdesk.dev/apiOverview/index.html#/doc-orders#types'>this</a> section of\r\n    our API-Overview",
                                        "type": "string",
                                        "enum": [
                                            "AN",
                                            "AB",
                                            "LI"
                                        ],
                                        "example": "AN",
                                        "nullable": false
                                    },
                                    "sendDate": {
                                        "description": "The date the order was sent to the customer",
                                        "type": "string",
                                        "format": "date-time",
                                        "default": null,
                                        "nullable": true
                                    },
                                    "addressParentName2": {
                                        "description": "Deprecated attribute",
                                        "type": "string",
                                        "readOnly": true,
                                        "nullable": true,
                                        "deprecated": true
                                    },
                                    "addressName2": {
                                        "description": "Second name of the recipient",
                                        "type": "string",
                                        "readOnly": true,
                                        "nullable": true,
                                        "deprecated": true
                                    },
                                    "addressGender": {
                                        "description": "Gender of the recipient",
                                        "type": "string",
                                        "readOnly": true,
                                        "nullable": true,
                                        "deprecated": true
                                    },
                                    "address": {
                                        "description": "Complete address of the recipient including name, street, city, zip and country.<br>\r\n     Line breaks can be used and will be displayed on the invoice pdf.",
                                        "type": "string",
                                        "default": null,
                                        "nullable": true
                                    },
                                    "currency": {
                                        "description": "Currency used in the order. Needs to be currency code according to ISO-4217",
                                        "type": "string",
                                        "example": "EUR",
                                        "nullable": false
                                    },
                                    "sumNet": {
                                        "description": "Net sum of the order",
                                        "type": "number",
                                        "format": "float",
                                        "readOnly": true,
                                        "nullable": false
                                    },
                                    "sumTax": {
                                        "description": "Tax sum of the order",
                                        "type": "number",
                                        "format": "float",
                                        "readOnly": true,
                                        "nullable": false
                                    },
                                    "sumGross": {
                                        "description": "Gross sum of the order",
                                        "type": "number",
                                        "format": "float",
                                        "readOnly": true,
                                        "nullable": false
                                    },
                                    "sumDiscounts": {
                                        "description": "Sum of all discounts in the order",
                                        "type": "number",
                                        "format": "float",
                                        "readOnly": true,
                                        "nullable": false
                                    },
                                    "sumNetForeignCurrency": {
                                        "description": "Net sum of the order in the foreign currency",
                                        "type": "number",
                                        "format": "float",
                                        "readOnly": true,
                                        "nullable": false
                                    },
                                    "sumTaxForeignCurrency": {
                                        "description": "Tax sum of the order in the foreign currency",
                                        "type": "number",
                                        "format": "float",
                                        "readOnly": true,
                                        "nullable": false
                                    },
                                    "sumGrossForeignCurrency": {
                                        "description": "Gross sum of the order in the foreign currency",
                                        "type": "number",
                                        "format": "float",
                                        "readOnly": true,
                                        "nullable": false
                                    },
                                    "sumDiscountsForeignCurrency": {
                                        "description": "Discounts sum of the order in the foreign currency",
                                        "type": "number",
                                        "format": "float",
                                        "readOnly": true,
                                        "nullable": false
                                    },
                                    "weight": {
                                        "description": "Deprecated attribute.",
                                        "type": "number",
                                        "format": "float",
                                        "default": 0,
                                        "nullable": false
                                    },
                                    "entryType": {
                                        "description": "Deprecated attribute.",
                                        "type": "object",
                                        "default": null,
                                        "nullable": true,
                                        "deprecated": true
                                    },
                                    "customerInternalNote": {
                                        "description": "Internal note of the customer. Contains data entered into field 'Referenz/Bestellnummer'",
                                        "type": "string",
                                        "default": null,
                                        "nullable": true
                                    },
                                    "showNet": {
                                        "description": "If true, the net amount of each position will be shown on the order. Otherwise gross amount",
                                        "type": "boolean",
                                        "default": 1,
                                        "nullable": false
                                    },
                                    "sendType": {
                                        "description": "Type which was used to send the order. IMPORTANT: Please refer to the order section of the\r\n     *     API-Overview to understand how this attribute can be used before using it!",
                                        "type": "string",
                                        "default": null,
                                        "enum": [
                                            "VPR",
                                            "VPDF",
                                            "VM",
                                            "VP"
                                        ],
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created - Returns created order",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "objects": {
                                            "type": "array",
                                            "items": {
                                                "title": "Order model",
                                                "description": "Order model",
                                                "required": [
                                                    "orderNumber",
                                                    "orderDate",
                                                    "contact",
                                                    "status",
                                                    "smallSettlement",
                                                    "contactPerson",
                                                    "taxRate",
                                                    "taxText",
                                                    "taxType",
                                                    "invoiceType",
                                                    "currency",
                                                    "header",
                                                    "version"
                                                ],
                                                "properties": {
                                                    "id": {
                                                        "description": "The order id",
                                                        "type": "integer",
                                                        "readOnly": true,
                                                        "nullable": false
                                                    },
                                                    "objectName": {
                                                        "description": "The order object name",
                                                        "type": "string",
                                                        "readOnly": true,
                                                        "nullable": false
                                                    },
                                                    "create": {
                                                        "description": "Date of order creation",
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "readOnly": true
                                                    },
                                                    "update": {
                                                        "description": "Date of last order update",
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "readOnly": true
                                                    },
                                                    "orderNumber": {
                                                        "description": "The order number",
                                                        "type": "string",
                                                        "example": "Offer-1000"
                                                    },
                                                    "contact": {
                                                        "description": "The contact used in the order",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the contact",
                                                                "type": "integer"
                                                            },
                                                            "objectName": {
                                                                "description": "Model name, which is 'Contact'",
                                                                "type": "string",
                                                                "default": "Contact"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "nullable": false
                                                    },
                                                    "orderDate": {
                                                        "description": "Needs to be provided as timestamp or dd.mm.yyyy",
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "01.01.2020",
                                                        "nullable": false
                                                    },
                                                    "status": {
                                                        "description": "Please have a look in our\r\n    <a href='https://5677.extern.sevdesk.dev/apiOverview/index.html#/doc-orders#types'>API-Overview</a>\r\n    to see what the different status codes mean",
                                                        "type": "integer",
                                                        "enum": [
                                                            100,
                                                            200,
                                                            300,
                                                            500,
                                                            750,
                                                            1000
                                                        ],
                                                        "example": 100,
                                                        "nullable": false
                                                    },
                                                    "header": {
                                                        "description": "Normally consist of prefix plus the order number",
                                                        "type": "string",
                                                        "example": "My Offer-1000",
                                                        "nullable": false
                                                    },
                                                    "headText": {
                                                        "description": "Certain html tags can be used here to format your text",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "footText": {
                                                        "description": "Certain html tags can be used here to format your text",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "addressName": {
                                                        "description": "Can be omitted as complete address is defined in address attribute",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "addressStreet": {
                                                        "description": "Can be omitted as complete address is defined in address attribute",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "addressZip": {
                                                        "description": "Can be omitted as complete address is defined in address attribute",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "addressCity": {
                                                        "description": "Can be omitted as complete address is defined in address attribute",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "addressCountry": {
                                                        "description": "Can be omitted as complete address is defined in address attribute",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the country",
                                                                "type": "integer",
                                                                "deprecated": true
                                                            },
                                                            "objectName": {
                                                                "description": "Model name, which is 'StaticCountry'",
                                                                "type": "string",
                                                                "deprecated": true
                                                            }
                                                        },
                                                        "type": "object",
                                                        "default": null,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "createUser": {
                                                        "description": "Will be filled automatically by our system and can't be changed",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the user",
                                                                "type": "integer"
                                                            },
                                                            "objectName": {
                                                                "description": "Model name, which is 'SevUser'",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "readOnly": true
                                                    },
                                                    "sevClient": {
                                                        "description": "Client to which order belongs. Will be filled automatically",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the client",
                                                                "type": "integer"
                                                            },
                                                            "objectName": {
                                                                "description": "Model name, which is 'SevClient'",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "readOnly": true
                                                    },
                                                    "deliveryTerms": {
                                                        "description": "Delivery terms of the order",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "paymentTerms": {
                                                        "description": "Payment terms of the order",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "origin": {
                                                        "description": "Object from which the order was created. For example an offer.",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the object",
                                                                "type": "integer"
                                                            },
                                                            "objectName": {
                                                                "description": "Model name of the object. Could be 'Order'.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "version": {
                                                        "description": "Version of the order.<br>\r\n    Can be used if you have multiple drafts for the same order.<br>\r\n    Should start with 0",
                                                        "type": "integer",
                                                        "example": 0,
                                                        "nullable": false
                                                    },
                                                    "smallSettlement": {
                                                        "description": "Defines if the client uses the small settlement scheme.\r\n    If yes, the order must not contain any vat",
                                                        "type": "boolean",
                                                        "example": 0,
                                                        "nullable": false
                                                    },
                                                    "contactPerson": {
                                                        "description": "The user who acts as a contact person for the order",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the user",
                                                                "type": "integer"
                                                            },
                                                            "objectName": {
                                                                "description": "Model name, which is 'SevUser'",
                                                                "type": "string",
                                                                "default": "SevUser"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "taxRate": {
                                                        "description": "Is overwritten by order position tax rates",
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": 19,
                                                        "nullable": false
                                                    },
                                                    "taxSet": {
                                                        "description": "Tax set of the order. Needs to be added if you chose the tax type custom",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the object",
                                                                "type": "integer"
                                                            },
                                                            "objectName": {
                                                                "description": "Model name, which is 'TaxSet'",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "taxText": {
                                                        "description": "A common tax text would be 'Umsatzsteuer 19%'",
                                                        "type": "string",
                                                        "example": "Umsatzsteuer 19%",
                                                        "nullable": false
                                                    },
                                                    "addressParentName": {
                                                        "description": "Address parent name.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "addressContactRef": {
                                                        "description": "Address contact reference.",
                                                        "type": "object",
                                                        "default": null,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "taxType": {
                                                        "description": "Tax type of the order.\nThere are four tax types:\n1. default - Umsatzsteuer ausweisen\n2. eu - Steuerfreie innergemeinschaftliche Lieferung (Europäische Union)\n3. noteu - Steuerschuldnerschaft des Leistungsempfängers (außerhalb EU, z. B. Schweiz)\n4. custom - Using custom tax set\nTax rates are heavily connected to the tax type used.",
                                                        "type": "string",
                                                        "example": "default",
                                                        "nullable": false
                                                    },
                                                    "orderType": {
                                                        "description": "Type of the order. For more information on the different types, check\r\n    <a href='https://5677.extern.sevdesk.dev/apiOverview/index.html#/doc-orders#types'>this</a> section of\r\n    our API-Overview",
                                                        "type": "string",
                                                        "enum": [
                                                            "AN",
                                                            "AB",
                                                            "LI"
                                                        ],
                                                        "example": "AN",
                                                        "nullable": false
                                                    },
                                                    "sendDate": {
                                                        "description": "The date the order was sent to the customer",
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "addressParentName2": {
                                                        "description": "Deprecated attribute",
                                                        "type": "string",
                                                        "readOnly": true,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "addressName2": {
                                                        "description": "Second name of the recipient",
                                                        "type": "string",
                                                        "readOnly": true,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "addressGender": {
                                                        "description": "Gender of the recipient",
                                                        "type": "string",
                                                        "readOnly": true,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "address": {
                                                        "description": "Complete address of the recipient including name, street, city, zip and country.<br>\r\n     Line breaks can be used and will be displayed on the invoice pdf.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "currency": {
                                                        "description": "Currency used in the order. Needs to be currency code according to ISO-4217",
[...]
